h1 {
    color: azure;
    background-color: aqua;
    display: inline;

}

span {
    border: 1px solid blue;
    background-color: blueviolet;
    display: block;
}

h2 {
    border: 5px solid solid black;
    background-color: paleturquoise;
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

h3 {
    border: 5px solid black;
}

#sec1 {
    background-color: rgb(129, 126, 126);
    height: 300px;
    width: 300px;

}

#div1 {
    background-color: coral;
    height: 70%;
    width: 50%;
}

article {
    text-align: center;
}

#p1 {
    font-size: 4em;
    opacity: 0.3;
}

#p2 {
    font-size: 2rem;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: 1s;

}

.circle:hover {
    background-color: blue;
    border-radius: 50%;
}